<li>
  <a href="https://www.facebook.com/learnenough" target="_blank"
  rel="noopener" class="social-link">
    <i class="fab fa-facebook-f"></i>
  </a>
</li>
<li>
  <a href="https://twitter.com/learnenough" target="_blank"
  rel="noopener" class="social-link twitter-link">
    <i class="fab fa-twitter"></i>
  </a>
</li>
<li>
  <a href="https://github.com/BlockProgram/blockprogram.github.io" target="_blank"
  rel="noopener" class="social-link github-link">
    <i class="fab fa-github"></i>
  </a>
</li>
